/* === */
/* var */
/* === */

:root {
    --clr-global-grey: rgb(51, 51, 51);
    --clr-global-white: #fff;
    --clr-global-black: #000;
    --clr-alpha: rgba(0, 0, 0, 0);
    --clr-greengold: hsla(52, 30%, 52%, 1);

    --clr-project-1: hsl(248, 53%, 58%, 1);
    --clr-project-2: hsl(248, 40%, 39%, 1);
    --clr-project-3: hsl(248, 32%, 30%, 1);
    --clr-project-4: hsl(248, 20%, 20%, 1);

    --clr-blog-1: hsl(73, 63%, 53%, 1);
    --clr-blog-2: hsl(73, 45%, 45%, 1);
    --clr-blog-3: hsl(73, 29%, 30%, 1);
    --clr-blog-4: hsl(73, 19%, 20%, 1);

    --clr-highlight-1: rgb(192, 124, 23);
}

/* Tag, ID and global scope classes */
html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url("resources/seamless-bg.jpg"); */
    background: linear-gradient(23deg, #4863a0, #98afc7);

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

html,
body {
    scroll-padding: 2rem;
}
jbn mkdffgcvcxhjbnmjhbndfgtyuijkhgyuf jknb footer {
    margin-bottom: 2rem;
}

video {
    object-fit: fill;
    width: 100%;
    height: 100%;

    border-radius: 4px 4px 0 0;
}

/* ===== */
/* class */
/* ===== */

.container {
    width: 80%;
    max-width: 1000px;
    background-color: rgba(158, 158, 158, 0.51);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.slanting-div {
    background: #333;
    content: "";
    height: 40px;
    width: 105%;
    /*left: -5%;*/
    position: absolute;
    right: -5%;
    top: 101%;
    transform-origin: 0 0;
    transform: rotateZ(-2deg);
    z-index: 1;
}

/* Header styles */

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header-pic {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url("resources/header.jpg") no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: fade-slide-down 2s 0.5s ease-out forwards;
}

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 100%;
        transform: none;
    }
}

.header-container {
    transform: translateY(-50%);
    top: 50%;
    align-items: center;
    position: absolute;
    display: flex;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 2px 2px 5px #333;
    height: auto;
    width: 16rem;
    /* transition: width 2s; */
}

#header-text {
    color: white;
    padding: 1rem;

    font-size: 16px;
    text-shadow: 2px 2px 3px #333;
}

.header .slanting-div {
    width: 200%;
    height: 75px;
}

/* Name and skills  */

#typed-lang {
    display: flex;
    align-items: center;
    color: var(--clr-greengold);
    font-size: x-large;
    padding: 1rem;
}

/* code intro */
.code-container {
    position: relative;

    width: 35rem;
    height: 30rem;

    margin: 1rem;

    border: 2px solid black;
    border-radius: 0.2rem;

    background: rgba(0, 0, 0, 0.6);

    cursor: grab;
}

.window-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    height: 2rem;
    width: 100%;

    background-color: #000;

    z-index: 1;
}

.window-titlebar .info {
    display: flex;
    align-items: center;
}

.window-titlebar .tabs button {
    outline: none;

    border-top: 2px gray solid;
    border-left: 2px gray solid;
    border-right: 2px gray solid;
    border-bottom: unset;

    border-radius: 0.2rem 0.2rem 0 0;

    margin-right: 0.2rem;

    background-color: #333;

    color: white;
}

.window-titlebar .tabs button.active {
    background-color: black;
}

/* .window-titlebar .tabs button:active {
    border: none;
} */

.window-titlebar .title-btn {
    height: 0.8rem;
    width: 0.8rem;

    margin: 0.5rem;

    border-radius: 50%;
}

.window-titlebar p {
    color: white;
    font-family: monospace;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}

pre {
    position: absolute;
    top: 0;

    display: none;

    width: 100%;
    height: 100%;

    margin: 0;

    /* z-index: -1; */
}

.snippet.visible {
    display: unset;
}

code {
    height: 100%;
    width: 100%;

    padding: unset;
    padding-top: 2rem;

    position: absolute;
    top: 0;

    background: rgba(0, 0, 0, 0) !important;
}

/* Navigation and dropdown menu styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 2;
}

li {
    float: right;
    color: white;
}

/* remove anchors to improve seo */
.dropdown-content p {
    color: white;
    padding: 0.5rem;
}

.dropdown-content p:hover {
    cursor: pointer;
}

li a,
.dropBtn {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0px 16px 0px 16px;
    padding: 6px 0px 6px 0px;
    text-decoration: none;

    font-family: "Roboto Slab", monospace;
    font-size: 16px;
    border-bottom: 2px solid #333;
    transition: border-bottom-color 1s linear;
}

li a:hover,
.dropdown:hover .dropBtn {
    /*background-color: #454542;*/
    text-decoration: none;
    color: white;
    /*border-radius: 10%;*/
    /*padding: 14px 16px;*/
    border-bottom: 2px solid #a89e5f;
}

li.dropdown {
    display: flex;
    align-items: center;

    border-left: 2px solid var(--clr-greengold);
    border-right: 2px solid var(--clr-greengold);
}

.expander {
    margin-right: 16px;
    cursor: pointer;
}

li.dropdown i {
    font-size: 1rem;
}

.dropdown-content {
    display: none;

    position: absolute;
    top: 100%;

    /*background-image: linear-gradient(#373737, #333);*/
    background-color: #333;

    width: 100%;
    min-width: 160px;

    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.2);

    padding-top: 1rem;
    z-index: 1;

    min-height: 0;
    opacity: 0;
    animation: none 2s linear;
}

@keyframes fade-in {
    100% {
        opacity: 100%;
    }
}

/* show the .dropdown-content by adding this class */
.visible {
    display: flex;
    flex-direction: column;

    animation: fade-in 1s forwards;
}

.logo-container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: fit-content;

    margin-bottom: 1rem;
}

.logo-container i:hover {
    color: inherit;
}

.hover {
    color: #a89e5f;
}

.logo-container i {
    font-size: 6rem;
    margin: 0.5rem;
}

.dropdown-content a {
    color: white;
    /*padding: 14px 16px;*/
    text-decoration: none;
    display: block;
    /*text-align: left;*/
    font-size: 12px;
}

.sub-container {
    display: flex;
    justify-content: center;
}

.sub-container ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 3rem;
}

.sub-container ul:hover {
    background-color: #666;
}

.sub-container ul li {
    /* center text but also allow
    cursor to move to sub menu (fills the parent) */
    text-align: center;
    line-height: 2rem;

    width: 100%;
    height: 100%;
}

.subMenu {
    display: none;

    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    top: 100%;

    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    opacity: 0;

    animation: none 2s forwards;
}

/* .dropdown:hover ~ .dropdown-content {
    display: flex;
    animation: fade-in 1s forwards;
    /*border-bottom: 2px solid #fff922;
} 
*/

.dropItem:hover .subMenu {
    display: block;
    animation: fade-in 0.5s forwards;
}

#menutext-short {
    display: none;
}

/* ==================== */
/* Cards related styles */
/* ==================== */

.card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: visible; */

    background-color: var(--clr-project-1);

    height: auto;

    padding-bottom: 8rem;
    /* margin-bottom: 3rem; */
}

#card-section {
    /* background-color: red; */
    position: relative;
    /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
    height: 30rem;
    width: 100%;
}

.card {
    width: 40rem;
    height: 30rem;
    background-color: #333;
    color: white;
    transition: background 1s, border 1s, color 2s;
}

.card:hover {
    background: #464b81; /*linear-gradient(to bottom right, #464b81, #398a9f);*/
    border: #464b80 1px solid;
}

.card:hover .card-button {
    background-color: #464b81;
}

.img-container {
    position: relative;
    width: 100%;
    height: 18rem;
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0 0;
}

.img-container h4 {
    text-shadow: 2px 2px var(--clr-highlight-1);
    position: absolute;
    z-index: 1;
}

.img-container svg {
    height: 100%;
    width: 100%;
}

.card-img-grad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* extend w/h otherwise flickering occurs 
    near edges during card slide transition */
    width: 102%;
    height: 102%;
    background: linear-gradient(130deg, var(--clr-project-3), var(--clr-alpha));
}

.img-container img {
    /* background-size: cover; */
    width: inherit;
    height: inherit;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    position: relative;
}

.card-links {
    display: flex;
    justify-content: space-around;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* putting multiple links in their own containers
prevents moving other elements in card-links in
the transition */
.link-item {
    /* margin: 0 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;
}

.card-body i {
    font-size: 2rem;
}

.card-text {
    color: white;
    padding-top: 1rem;
}

.card-icons {
    margin-top: 30%;
}

.card-button {
    position: relative;
    background-color: var(--clr-global-grey);
    color: white;
    border: none;
    border-radius: 50%;

    height: 4rem;
    width: 4rem;

    transition: all 1s, color 0.02s, height 0.5s, width 0.5s;
}

.card-button:hover {
    color: var(--clr-highlight-1);
    /* top: -5px; */

    height: 4.5rem;
    width: 4.5rem;
}

.card-button:focus {
    outline: none;
}

.card-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* TODO cutout div */
.cards-after {
    background: #333;
    content: "";
    height: 40px;
    width: 105%;
    /*left: -5%;*/
    position: absolute;
    right: -5%;
    top: 101%;
    transform-origin: 0 0;
    transform: rotateZ(-2deg);
    z-index: 1;
}

/* =========== */
/* Card slider */
/* =========== */

.card-article {
    position: absolute;
    top: 50%;

    transform: translate(-50%, -50%);
    transition: all 1s;
}

/* center all articles, then control their position
by translatingX from the center point. Keeps a symetric look */
.card-article.prevSlide {
    transform: translate(-100%, -50%) scale(80%);
    left: 50%;
    /* top: 40%; */
    /* opacity: 0.5; */
    /* transition: 1s 1s all; */
    z-index: 0;
}

/* invisible starting point for card to transition from */
.card-article.prevSlide.offset {
    transform: translate(-150%, -50%) scale(60%);
    left: 50%;
    opacity: 0;
    z-index: -1; /* overlaps prevSlide otherwise */
}

.card-article.activeSlide {
    left: 50%;
    z-index: 1;
    transition: scale() 4s, all 1s;
}

.card-article.nextSlide {
    transform: translate(0%, -50%) scale(80%);
    left: 50%;
    /* top: 40%; */
    /* opacity: 0.5; */
    /* transition: 1s 1s all; */
    z-index: 0;
}

/* invisible starting point for card to transition from */
.card-article.nextSlide.offset {
    transform: translate(50%, -50%) scale(60%);
    left: 50%;
    opacity: 0;
    z-index: -1;
    /* display: none; */
}

/* #card-section button {
  background: none;
  border: none;
}

#card-section button span {
  font-size: 3rem;
}

#card-section button:focus {
  outline: none;
}

#card-section button:hover span {
  color: blue;
} */

.slider-btns {
    margin-bottom: 2rem;
}

.slider-btns button {
    outline: none;
    background: none;
    border: none;
    font-size: 3rem;
}

.slider-btns button:hover {
    color: var(--clr-highlight-1);
}

.slider-btns > span {
    font-size: 3rem;
    color: var(--clr-highlight-1);
}

.slider-btn-glow {
    animation: glow 1s ease 1 forwards;
}

@keyframes glow {
    50% {
        color: var(--clr-highlight-1);
    }
}

/* end card slider */

/* ========= */
/* ___ Blog  */
/* ========= */

#blog-container {
    position: relative;

    overflow-x: clip;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: var(--clr-blog-1);
    min-height: 30rem;

    padding-bottom: 3rem;
}

#blog-container a {
    width: 75%;
    height: auto;
    text-decoration: none;
    transition: all 2s;
}

/* #blog-container a:hover {
    width: 80%;
    height: 101%;
} */

.blog-card {
    background: #333;
    border: var(--clr-blog-3) 2px solid;
    border-radius: 3px;

    margin: 1rem 0 2rem 0;

    /* width: 80%; */
    /* height: 100px; */
}

.blog-card p {
    color: white;
    font-size: 16px;
    padding: 0 1rem 1rem 1rem;
}

.blog-card-img p {
    padding: 1rem;
}

.blog-card-img {
    position: relative;
    height: 20rem;
    background-size: cover;
}

.blog-tags {
    position: absolute;

    display: flex;
    bottom: 1rem;
    right: 1rem;
}

.tag {
    margin: 0 1rem 0 0;

    font-family: "Lobster Two";

    background-color: var(--clr-blog-2);

    color: black;

    border: var(--clr-blog-3) 2px solid;
    border-radius: 12px;

    padding: 2px 8px;
}

/* end blog */

/* ============ */
/* Form section */
/* ============ */

#contact {
    position: relative;
    overflow-x: clip;
    background-color: white;
    padding-bottom: 100px;
    padding-top: 20px;
}

#contact p {
    /* margin-left: 20px; */
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.contact-form {
    width: 50%;
    margin: auto;
    padding: 2rem;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.form-item input,
.form-item textarea {
    width: 15rem;
}

.form-button {
    border: 1px solid black;
    border-radius: 5px;
    background: none;
}

.form-button:hover {
    background-color: lightgray;
}

/* ======================== */
/* Bottom navigation styles */
/* ======================== */

#bottom-nav {
    display: flex;
    align-items: center;

    top: unset;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #333;
    padding: 0;
    border-radius: 0 0 10px 10px;
    /*border-radius: 0 0 10px 10px;*/
    bottom: 0;

    width: 100%;
    height: 4rem;
}

p,
label,
input {
    /*padding: 20px;*/
    margin: 0;
    font-family: "Roboto Slab", monospace;
    font-size: 12px;
    color: black;
}

.top {
    top: 0;
}

h3 {
    margin: 2rem 0;
    font-family: "Roboto Slab", monospace;
    color: var(--clr-global-black);
}

h4 {
    margin: 1rem;
    font-family: "Roboto Slab", monospace;
    color: white;
}

.bottom-nav-list {
    float: bottom;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

i {
    transition: color 1s;
    font-size: 2rem;
}

ul i:hover {
    color: #a89e5f;
}

.flex-box {
    margin: 0;
    padding: 0;
    height: auto;
    /*width: auto;*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
    display: flex;
    justify-content: center;
}

.col {
    flex-direction: column;
    align-items: center;
}

.clearfix {
    overflow: auto;
}

/* Pet card media grid */
.pet-grid {
    display: grid;
    grid-template-areas:
        "img1 img2 video"
        "img3 img3 video";
    grid-template-columns: 1fr 1fr 136px;
    grid-template-rows: 144px 144px;
    width: 100%;
    height: 100%;
}

#video {
    grid-area: video;
}

#img1 {
    grid-area: img1;
    border-radius: 4px 0 0 0;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

/* end pet card media grid */

/* ============= */
/* media queries */
/* ============= */

@media screen and (max-width: 768px) {
    /* TODO add media queries */
}

/* large phone */
@media screen and (max-width: 425px) {
    html,
    body {
        width: 100vw;
    }

    .container {
        width: 100%;
    }

    /* profile section */

    .header-container {
        position: relative;

        transform: none;

        flex-direction: column;
    }

    .header-pic {
        position: absolute;

        height: 100%;
    }

    .profile-pic {
        width: 12rem;
    }

    .code-container {
        width: 100%;

        margin: 0;
    }

    .window-titlebar .tabs button {
        width: 3rem;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* top nav */

    .logo-container i {
        font-size: 3rem;
        margin: 0.2rem;
    }

    #menutext-long {
        display: none;
    }

    #menutext-short {
        display: block;
    }

    /* ============== */
    /* project styles */
    /* ============== */

    .card-container {
        overflow: hidden;
    }

    .card-container h3 {
        margin: 2rem 0 0 0;
    }

    .card-article {
        width: 100vw;
    }

    .card {
        width: 100%;
    }

    /* slides */

    .slider-btns {
        margin: 0;
    }

    .card-article.prevSlide {
        transform: translate(-150%, -50%);
        left: -50%;
    }

    .card-article.nextSlide {
        transform: translate(0%, -50%);
        left: 120%;
    }

    /* =========== */
    /* blog styles */
    /* =========== */

    #blog-container a {
        width: 90%;
    }

    .blog-card-img {
        height: 10rem;
    }

    .blog-tags {
        left: 50%;
        right: unset;

        transform: translateX(-50%);
    }

    .tag {
        margin: 0 0.4rem;
    }

    /* contact styles */

    .contact-form {
        width: 75%;
    }

    .form-item {
        flex-direction: column;
    }

    /* footer */

    #bottom-nav {
        border-radius: 0;
        margin: 0;
    }
}

/* medium phone */
@media screen and (max-width: 375px) {
    /* profile */
    .window-titlebar .tabs button {
        width: 2rem;
    }
}

/* small phone */
@media screen and (max-width: 320px) {
    /* profile */
    .window-titlebar .tabs button {
        width: 1rem;
    }

    /* nav */

    li a,
    .dropBtn {
        font-size: 13px;
    }

    .logo-container i {
        font-size: 2rem;
    }

    /* =========== */
    /* blog styles */
    /* =========== */

    .tag {
        font-size: 0.8rem;
    }

    /* ======= */
    /* contact */
    /* ======= */

    .contact-form {
        width: 100%;
    }
}
