/* Tag, ID and global scope classes */
html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url("resources/seamless-bg.jpg"); */
  background: linear-gradient(23deg, #4863a0, #98afc7);
  /* background-repeat: repeat; */
  padding: 0;
  margin: 0;
}

footer {
  margin-bottom: 2rem;
}
.container {
  width: 80%;
  background-color: rgba(158, 158, 158, 0.51);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
}

.slanting-div {
  background: #333;
  content: "";
  height: 40px;
  width: 105%;
  /*left: -5%;*/
  position: absolute;
  right: -5%;
  top: 101%;
  transform-origin: 0 0;
  transform: rotateZ(-2deg);
  z-index: 1;
}

/* Header styles */

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header-pic {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("resources/header.jpg") no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: fade-slide-down 2s 0.5s ease-out forwards;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

.header-container {
  transform: translateY(-50%);
  top: 50%;
  align-items: center;
  position: absolute;
  display: flex;
  padding: 20px;
}

.profile-pic {
  border-radius: 50%;
  box-shadow: 2px 2px 5px #333;
  height: auto;
  width: 16rem;
  transition: width 2s;
}

#header-text {
  color: white;
  padding: 1rem;

  font-size: 16px;
  text-shadow: 2px 2px 3px #333;
}

.header .slanting-div {
  width: 200%;
  height: 75px;
}

/* Name and skills  */

#typed-lang {
  display: flex;
  align-items: center;
  color: #a89e5f;
  font-size: x-large;
  padding: 1rem;
}

/* Navigation and dropdown menu styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

li {
  float: right;
  color: white;
}

li a, .dropBtn/*,  #webDropBtn,
    #springDropBtn, #droidDropBtn,
    #javaDropBtn*/ {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 0px 14px 0px 16px;
  padding: 6px 0px 6px 0px;
  text-decoration: none;

  font-family: "Roboto Slab", monospace;
  font-size: 16px;
  border-bottom: 2px solid #333;
  transition: border-bottom-color 1s linear;
}

li a:hover,
.dropdown:hover .dropBtn {
  /*background-color: #454542;*/
  text-decoration: none;
  color: white;
  /*border-radius: 10%;*/
  /*padding: 14px 16px;*/
  border-bottom: 2px solid #a89e5f;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-image: linear-gradient(#373737, #333);*/
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 16px;
  z-index: 1;

  min-height: 0;
  opacity: 0;
  animation: none 2s linear;
}

@keyframes fade-in {
  100% {
    opacity: 100%;
  }
}

.dropdown-content a {
  color: white;
  /*padding: 14px 16px;*/
  text-decoration: none;
  display: block;
  /*text-align: left;*/
  font-size: 12px;
}

.subMenu {
  width: 100px;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  display: none;
  position: absolute;
  left: 124px;
  top: 0;
  opacity: 0;
  animation: none 2s forwards;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fade-in 1s forwards;
  /*border-bottom: 2px solid #fff922;*/
}

#springDropBtn:hover .subMenu {
  display: block;
  animation: fade-in 2s forwards;
}

#webDropBtn:hover .subMenu {
  display: block;
  animation: fade-in 2s forwards;
}
#droidDropBtn:hover .subMenu {
  display: block;
  animation: fade-in 2s forwards;
}

#javaDropBtn:hover .subMenu {
  display: block;
  animation: fade-in 2s forwards;
}

li a.active {
  border-bottom: 2px solid #a89e5f;
}

/* Cards related styles */

.card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: visible; */

  height: auto;

  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

#card-section {
  /* background-color: red; */
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 30rem;
  width: 100%;
}

.card {
  width: 40rem;
  height: 30rem;
  background-color: #333;
}

/* =========== */
/* Card slider */
/* =========== */

.card-article {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  transition: all 1s;
}

.card-article.prevSlide {
  transform: translate(-100%, -50%) scale(80%);
  left: 50%;
  /* top: 40%; */
  opacity: 0.5;
  z-index: 0;
}

/* invisible starting point for card to transition from */
.card-article.prevSlide.offset {
  transform: translate(-50%, -50%) scale(60%);
  left: 60%;
  opacity: 0;
}

.card-article.activeSlide {
  left: 50%;
  z-index: 1;
}

.card-article.nextSlide {
  transform: translate(0%, -50%) scale(80%);
  left: 50%;
  /* top: 40%; */
  opacity: 0.5;
  z-index: 0;
}

/* invisible starting point for card to transition from */
.card-article.nextSlide.offset {
  transform: translate(-50%, -50%) scale(60%);
  right: -60%;
  opacity: 0;
}

#card-section button {
  background: none;
  border: none;
}

#card-section button span {
  font-size: 3rem;
}

#card-section button:focus {
  outline: none;
}

#card-section button:hover span {
  color: blue;
}

.slider-btns {
  /* position: absolute;
  top: -13rem;
  left: 50%;
  transform: translateX(-50%); */
  /* text-align: center; */
}
/* 
.slider-btns span {
  transform: translateY(-50%);
} */

button.sliderLeft {
  /* position: absolute;
  top: -50%; */
  /* left: 2rem;
  transform: translateY(-50%); */
}

button.sliderRight {
  /* position: absolute;
  top: 50%; */
  /* right: 2rem;
  transform: translateY(-50%); */
}

.slider-btns button:hover {
  color: #a89e5f;
}

.slider-btns button {
  outline: none;
  background: none;
  border: none;
  font-size: 3rem;
}

/* end card slider */

.card {
  transition: background 1s, border 1s, color 2s;
}

.img-container {
  /* display: flex; */
  /* flex-grow: 1; */
  width: 100%;
  height: 18rem;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.img-container img {
  /* background-size: cover; */
  width: inherit;
  height: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.card-body i {
  font-size: 1rem;
}

.card:hover {
  background: #464b81; /*linear-gradient(to bottom right, #464b81, #398a9f);*/
  border: #464b80 1px solid;
  color: white;
}

.card-text {
  transition: color 2s;
}

.card:hover .card-text {
  color: white;
}

.card-icons {
  margin-top: 30%;
}

.btn-outline-secondary {
  transition: all 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-secondary:hover,
.btn-outline-secondary i:hover {
  border-color: white;
  color: white;
}

.cards-after {
  background: #333;
  content: "";
  height: 40px;
  width: 105%;
  /*left: -5%;*/
  position: absolute;
  right: -5%;
  top: 101%;
  transform-origin: 0 0;
  transform: rotateZ(-2deg);
  z-index: 1;
}

/* ========= */
/* ___ Blog  */
/* ========= */

#blog-container {
  position: relative;

  overflow-x: clip;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background: #b2d33d;
  min-height: 30rem;

  padding-bottom: 3rem;
}

#blog-container a {
  width: 75%;
  height: auto;
  text-decoration: none;
  transition: all 2s;
}

/* #blog-container a:hover {
    width: 80%;
    height: 101%;
} */

.blog-card {
  background: #333;
  border: white 2px solid;
  border-radius: 3px;

  margin: 1rem 0 2rem 0;

  /* width: 80%; */
  /* height: 100px; */
}

.blog-card p {
  color: white;
  font-size: 16px;
  padding: 0 1rem 1rem 1rem;
}

.blog-card-img p {
  padding: 1rem;
}

.blog-card-img {
  position: relative;
  height: 20rem;
  background-size: cover;
}

.blog-tags {
  position: absolute;

  display: flex;
  bottom: 1rem;
  right: 1rem;
}

.tag {
  margin: 0 1rem 0 0;

  background-color: gray;

  color: white;

  border: white 2px solid;
  border-radius: 12px;

  padding: 5px;
}

/* end blog */

/* ======================== */
/* Bottom navigation styles */
/* ======================== */

#bottom-nav {
  top: unset;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  /*position: fixed;*/
  margin: 0;
  background-color: #333;
  padding: 0;
  border-radius: 0 0 10px 10px;
  /*border-radius: 0 0 10px 10px;*/
  bottom: 0;
  width: 100%;
  height: auto;
}

p,
label,
input {
  /*padding: 20px;*/
  margin: 0;
  font-family: "Roboto Slab", monospace;
  font-size: 12px;
  color: black;
}

#contact {
  position: relative;
  overflow-x: clip;
  background-color: white;
  padding-bottom: 100px;
  padding-top: 20px;
}

.top {
  top: 0;
}

h3 {
  margin: 1rem 0 1rem 0;
  font-family: "Roboto Slab", monospace;
}

h4 {
  margin: 1rem;
  font-family: "Roboto Slab", monospace;
  color: white;
}

.bottom-nav-list {
  float: bottom;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  /*color: white;*/
  margin: auto;
}

i {
  transition: color 1s;
  font-size: 2rem;
}

ul i:hover {
  color: #a89e5f;
}

.flex-box {
  margin: 0;
  padding: 0;
  height: auto;
  /*width: auto;*/
  /*background-color: rgba(255, 255, 255, 0.6);*/
  display: flex;
  justify-content: center;
}

.col {
  flex-direction: column;
  align-items: center;
}

.clearfix {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  /* TODO add media queries */
}
