/* Animations */
@keyframes digger-animation {
    0% {left: 0; top: 0}
    25% {left: 300px; top: 0}
    50% {left: 200px; top: 0}
    75% {left: 300px; top: 0}
    100% {left: 0; top: 0}
}

@keyframes roller-animation {
    0% {right: 0; top: 0}
    25% {right: 300px; top: 0}
    50% {right: 250px; top: 0}
    60% {right: 300px; top: 0}
    70% {right: 250px; top: 0}
    75% {right: 300px; top: 0}
    80% {right: 250px; top: 0}
    90% {right: 300px; top: 0}
    100% {right: 0; top: 0}
}

@keyframes profile-pic-animation {
    0% {}
    50% {filter: invert(100%)}
    100% {filter: none}
}

/* Tag and ID classes */

#digger {
    /*size: initial;*/
    animation-name: digger-animation;
    animation-duration: 12s;
    animation-delay: 2s;
    position: relative;
}

#roller {
    size: auto;
    animation-name: roller-animation;
    animation-duration: 10s;
    animation-delay: 10s;
    position: relative;
}

body {
    /*background-image: url("https://i.ytimg.com/vi/Jnwu4ZhB0ac/maxresdefault.jpg");*/
    background-color: #2a5a0c;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
}

#header-text {
    background-color: white;
}

.sticky {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

#bottom-nav {
    z-index: 2;
    overflow: hidden;
    text-align: center;
    position: fixed;
    margin: 0;
    background-color: #333;
    padding: 0;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    width: 100%;
    height: auto;
}

p {
    padding: 20px;
    margin: 0;
    font-family: monospace;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    border-bottom: 2px solid #333;
    /*margin-bottom: 10px;*/

}

/*li p {*/
/*    display: block;*/
/*    font-family: monospace;*/
/*    font-size: 10px;*/
/*    padding: 14px 16px;*/
/*    margin: 0;*/
/*    !*text-align: center;*!*/
/*}*/

/*li p:hover {*/
/*    background-color: #454542;*/
/*}*/

li a:hover {
    /*background-color: #454542;*/
    text-decoration: none;
    color: white;
    /*border-radius: 10%;*/
    padding: 14px 16px;
    border-bottom: 2px solid #fff922;
}

li a:active {
    /*background-color: deeppink;*/
    /*    add some transition here */
}

h1 {
    margin-left: 20px;
    font-family: Lobster Two;
}


/*.active {*/
/*    background-color: #454542;*/
/*}*/
/* make social fa buttons bounce */
.nav-list {
    float: right;
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
    color: white;
}

.red-text {
    color: red;
}


.bottom-nav-list {
    float: bottom;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    /*color: white;*/
    margin: auto;
}

.flex-box {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.my-pic {
    /*border: 10px dashed blue;*/
    /*margin: 0;*/
    /*padding: 0;*/
    height: auto;
    width: 20%;
    transition: width 2s;
    /*border-radius: 10px 10px 0 0;*/
    /*animation-name: profile-pic-animation;*/
    /*animation-duration: 10s;*/
}

.my-pic:hover {
    width: 21%;
}

.clearfix {
    overflow: auto;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
