:root {
  /* CSS HSL */
  /* CSS HSL */
  --red: hsla(0, 56%, 40%, 1);
  --red2: hsla(0, 65%, 60%, 1);
  --red3: hsla(0, 80%, 75%, 1);
  --red4: hsla(0, 40%, 30%, 1);

  --orange: hsla(20, 56%, 40%, 1);
  --orange2: hsla(20, 65%, 60%, 1);
  --orange3: hsla(20, 80%, 75%, 1);



}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* IDs */
#author {
  float: right;

  margin: 0 2rem 0 auto;
  /*position: absolute;*/
  /*bottom: 5rem;*/
  /*right: 2rem;*/
}

#author:before {
  content: "by ";
}

#quote-box {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 60vh;
  width: 30vw;

  /*max-height: 26rem;*/
  max-width: 40rem;

  background-color: var(--red2);

  /*border: var(--ultra-violet) 4px solid;*/
  border-radius: .4rem;

  padding-bottom: 4rem;

}

#new-quote {
  /*position: absolute;*/
  /*bottom: var(--btns-btm-val);*/
  /*right: 1rem;*/

  width: 6rem;

}

#share-btns {
  display: flex;
  justify-content: space-between;

  width: 50%;
}
#text {
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/

  padding: 2rem;
  margin: auto 0 auto 0;

  font-size: 2rem;
}
/*#text:after {*/
/*  position: absolute;*/
/*  bottom: -2.5rem;*/
/*  right: -1.5rem;*/
/*  content: "\201D";*/
/*}*/
/*#text:before {*/
/*  position: absolute;*/
/*  top: -1rem;*/
/*  left: -1.5rem;*/
/*  content: "\201C";*/
/*}*/

#text:before, #text:after {
  font-size: 3rem;
}

/*#twitter-share-btn {*/
/*  position: absolute;*/
/*  bottom: var(--btns-btm-val);*/
/*  left: 1rem;*/


/*}*/
/* Classes */

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.quote-box-buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;

  position: absolute;
  bottom: -1.5rem;

  padding: 0 2rem 0 2rem;
}

/* Elements */

button, #share-btns a {
  position: relative;

  width: 3rem;
  height: 3rem;

  padding: .2rem;

  background-color: var(--red3);

  border: var(--ultra-violet) solid 4px;
  border-radius: .4rem;

  cursor: pointer;

  color: var(--red);

  text-transform: uppercase;
  text-align: center;
}

a {
  display: block;

  align-content: center;

  width: 100%;
  height: 100%;
}

a svg {
  font-size: 1.5rem;

  color: var(--red);
}

button:hover, #share-btns a:hover {
  bottom: -.5rem;
  box-shadow: 0 -.5rem var(--red);
}

button:active, #share-btns a:active {
  bottom: -1rem;
  box-shadow: 0 -1rem var(--red);
}

html {
  height: 100%;
  width: 100%;

  background-color: var(--red);
}

p {
  color: var(--red);
}